.field_with_errors {
  .choices__inner {
    border-color: $danger;
  }
}

.choices__inner,
.choices__input {
  background: $input-background-color;
}

.choices__list--dropdown {
  z-index: 5;
  box-shadow: $sharp-box-shadow;
}

.choices__list--multiple .choices__item {
  background-color: $blue;
  border: 1px solid darken($blue, 10%);
  border-radius: 2.5px;

  &.is-highlighted {
    background-color: darken($blue, 20%);
    border: 1px solid darken($blue, 30%);

    .choices__button,
    .choices__button {
      border-left: 1px solid darken($blue, 30%);
    }
  }
}

.choices[data-type*='select-multiple'] .choices__button,
.choices[data-type*='text'] .choices__button {
  border-left: 1px solid darken($blue, 20%);
}

.choices[data-type*='select-one']:after {
  display: none;
}

.choices-custom {
  &.select:not(.is-multiple) {
    height: auto;
  }

  &.is-short-list {
    .choices__list--dropdown .choices__list {
      max-height: 150px;
    }
  }
}
