$size-1: 2rem;
$size-2: 1.75rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.12rem;
$size-6: 1rem;
$size-6-5: 0.87rem;
$size-7: 0.75rem;

$afal-blue: #00b3ee;
$white: #ffffff;
$black: hsl(0, 0%, 4%);

$primary: $afal-blue;
$body-background-color: #f5f6f8;
$box-shadow: 0px 3px 18px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.03);
$sharp-box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.1);

$navbar-height: 3.25rem !default;
$frame-padding-top: $navbar-height + 3rem;
$side-menu-width: 14rem;
